extends layout

block content
  h2 #{title}
  table.table.table-hover
    caption #{message}
    thead
     tr
      th(scope='col') #
      th(scope='col') Agent ID
      th(scope='col') ホスト名
      th(scope='col') 稼働状態
      th(scope='col') 操作ログ
      th(scope='col') 配信状況
      th(scope='col') 配信履歴
      th(scope='col') コメント
    tbody#bodyList
      tr
       th(scope='row') 1
       td Agent001
       td ホスト1
       td 
         button.btn.btn-xs.btn-warning(data-toggle='modal', data-target='#installerModal') N/A  
       td 
         button.btn.btn-default.btn-xs(aria-label='Left Align')
           span.glyphicon.glyphicon-list-alt(aria-hidden='true')  
           a(href='/opllog/agent01')  ログ 
       td 
         button.btn.btn-default.btn-xs(aria-label='Left Align')
           span.glyphicon.glyphicon-tasks(aria-hidden='true') 
           span  状態 
           span.badge 2 
       td
         button.btn.btn-default.btn-xs(aria-label='Left Align')
           span.glyphicon.glyphicon-transfer(aria-hidden='true')
           a(href='/sendlog/agent01')  履歴 
       td 
      tr.bg-warning       
       th(scope='row') 2
       td Agent002
       td ホスト2
       td   
         button.btn.btn-xs.btn-default(data-toggle='modal', data-target='#installerModal') 未知  
       td 
         button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
           span.glyphicon.glyphicon-list-alt(aria-hidden='true')  ログ 
       td 
         button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
           span.glyphicon.glyphicon-tasks(aria-hidden='true')  状態 
       td 
         button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
           span.glyphicon.glyphicon-transfer(aria-hidden='true')
           a(href='/sendlog') 履歴 
       td 
      tr.bg-danger
       th(scope='row') 3
       td Agent003
       td ホスト3   
       td 
         button.btn.btn-xs.btn-danger(data-toggle='modal', data-target='#installerModal') 未インストール  
       td
         button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
           span.glyphicon.glyphicon-list-alt(aria-hidden='true')  ログ 
       td 
         button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
           span.glyphicon.glyphicon-tasks(aria-hidden='true')  状態 
       td
         button.btn.btn-default.btn-xs.disabled(aria-label='Left Align')
           span.glyphicon.glyphicon-transfer(aria-hidden='true')
           a(href='/sendlog') 履歴 
       td 
      tr.bg-info
       th(scope='row') 4
       td Agent004
       td Agent004
       td 
         button.btn.btn-xs.btn-success(data-toggle='modal', data-target='#installerModal') 稼働中   
       td 
         button.btn.btn-default.btn-xs(aria-label='Left Align')
           span.glyphicon.glyphicon-list-alt(aria-hidden='true') 
           a(href='/opllog/agent01')  ログ 
       td 
         button.btn.btn-default.btn-xs(aria-label='Left Align')
           span.glyphicon.glyphicon-tasks(aria-hidden='true') 
           span  状態 
           span.badge 15
       td
         button.btn.btn-default.btn-xs(aria-label='Left Align')
           span.glyphicon.glyphicon-transfer(aria-hidden='true')
           a(href='/sendlog/agent04')  履歴 
       td 
  include installdialog.jade 
