body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

.row.content {
  height: 450px;
}

.navbar.navbar-default {
  margin-bottom: 0;
  border-radius:0;
}
@media screen and(max-width:767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {
    height: auto;
  } 
}
.line_plan {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.line_actual {
  fill: none;
  stroke: purple;
  stroke-width: 1.5px;
}
.line_expect {
  fill: none;
  stroke: yellowgreen;
  stroke-width: 1.5px;
}
svg {
  margin : 30px;
}
.currentdate {
  fill: none;
  stroke: maroon;
  stroke-width: 3px;
}

